.git
.DS_Store
build
build-*
build-test
coverage_report
*.log
*.out
*.gcda
*.gcno
coverage.info
benchmark_out.txt
archive
**/__pycache__
*.pyc

LLAM/.git
LLAM
LLAM/build
LLAM/object
LLAM/coverage_report
LLAM/*.log
LLAM/*.out
LLAM/*.gcda
LLAM/*.gcno

Dockerfile
